apuntes/apuntesxsd/examenpruebaxsd/examenes antiguos/cosas/que_es_xs_atribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="superheroe">
<xs:complexType>
<!-- name y type son los atributos-->
<xs:attribute name="nombre" type="xs:string"/>
<xs:attribute name="edad" type="xs:integer"/>
</xs:complexType>

</xs:element>
</xs:schema>